.vscode

# Dependencies
node_modules/

# Build output
dist/
build/
web-build/
.next/
out/

# Expo
.expo/
expo-env.d.ts
app-example

# Native
.kotlin/
*.apk
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Environment Variables
.env
.env.local
.env*.local
.env.docker.bak

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Files
.DS_Store
Thumbs.db
*.pem

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Turborepo
.turbo/

# Prisma
backend/prisma/migrations/

# Uploads
backend/uploads/receipts/*
!backend/uploads/receipts/.gitkeep

# Generated native folders
/ios
/android

# Telebirr
backend/telebirr-h5-integration/.env
backend/telebirr-h5-integration/secrets.env
backend/telebirr-h5-integration/telebirr.credentials
backend/telebirr-h5-integration/.env.docker
backend/telebirr-h5-integration.tar.gz

# Lock files
package-lock.json

# Landing
apps/landing/node_modules/
apps/landing/.next/

# Docker
tmp/.next/
.next/
